<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="span6">
          <h2>Topic #1</h2>
          <p>A paragraph of details about the heading and its related content so that
            you can have an example of how this should work.</p>
          <h3>Essay #1</h3>
          <p>Officiis cupiditate exercitation eos in aliquip, placeat assumenda aspernatur
            modi. Placeat magni delectus maxime eos omnis laboris enim architecto officia
            numquam enim corporis sapiente iusto laboris excepturi voluptates minim
            nulla. Molestiae ex cumque porro assumenda adipisicing eius quaerat minima
            sapiente minima nemo velit soluta, lorem aliquam, laboris iusto fugit voluptas
            blanditiis, eveniet dicta occaecati rerum. Eligendi fuga repudiandae eius
            quos exercitationem voluptatibus minima accusamus architecto sunt error
            magni cum, voluptate consectetur, quibusdam ipsum voluptatibus minim duis
            voluptas unde hic enim consequatur velit at.</p>
          <a class="btn btn-block btn-success"
          href="#"><span class="btn-label">Read more</span></a> 
        </div>
        <div class="span6">
          <h2>Topic #2</h2>
          <p>A paragraph of details about the heading and its related content so that
            you can have an example of how this should work.</p>
          <h3>Essay #1</h3>
          <p>Officiis cupiditate exercitation eos in aliquip, placeat assumenda aspernatur
            modi. Placeat magni delectus maxime eos omnis laboris enim architecto officia
            numquam enim corporis sapiente iusto laboris excepturi voluptates minim
            nulla. Molestiae ex cumque porro assumenda adipisicing eius quaerat minima
            sapiente minima nemo velit soluta, lorem aliquam, laboris iusto fugit voluptas
            blanditiis, eveniet dicta occaecati rerum. Eligendi fuga repudiandae eius
            quos exercitationem voluptatibus minima accusamus architecto sunt error
            magni cum, voluptate consectetur, quibusdam ipsum voluptatibus minim duis
            voluptas unde hic enim consequatur velit at.</p>
          <a class="btn btn-block btn-success"
          href="#"><span class="btn-label">Read more</span></a> 
        </div>
      </div>
    </div>
    <div class="span4">
      <ul class="nav  nav-pills nav-stacked"></ul>
      <div class="well">
        <p>Aute dicta elit inventore ex necessitatibus, repudiandae minus quaerat
          fuga odio aute, elit facilis velit. Blanditiis cumque voluptate esse ratione
          distinctio provident do officiis quae voluptate, unde itaque quisquam dignissimos
          nostrum inventore qui magna impedit. Itaque harum eiusmod velit ullam lorem
          iusto laudantium voluptatibus lorem amet ducimus aliquip adipisicing impedit
          amet excepteur anim facilis recusandae. Ex voluptatum sint magni quam aut
          vel quasi, voluptates alias, unde vel vel.</p>
        <p>Itaque repudiandae lorem pariatur dignissimos cupiditate cupidatat laboriosam
          ducimus optio dicta, ipsum sunt irure velit commodo, molestiae unde corrupti
          nostrud voluptates accusantium, ullamco ex adipisicing iste exercitationem
          esse quasi voluptates. Sapiente sequi accusantium quidem quidem tempor
          porro odit, ipsum ab beatae ea voluptatem quae cupidatat. At nostrum quae
          sunt maxime exercitation eum perspiciatis laborum reprehenderit nesciunt
          magnam ullam excepturi deserunt, harum consequuntur consequat cupiditate
          eligendi eveniet culpa voluptatum necessitatibus. Molestiae beatae laudantium
          nam corporis odio nesciunt blanditiis, voluptatum, fugiat adipisci sunt
          illo quam minim molestiae porro.</p>
        <p>Cillum recusandae iure debitis fugit eius, quam aperiam aut exercitationem
          laborum numquam consequuntur. Facilis ullamco perspiciatis et beatae, excepteur,
          repudiandae, magnam quis optio voluptates recusandae. Sapiente accusantium
          temporibus magni fugiat, dolorum blanditiis adipisicing, ea incididunt
          occaecat. Ab fugiat fugit maiores error eaque sint unde odit excepteur
          in doloribus.</p>
      </div>
    </div>
  </div>
</div>
