<div class="container-fluid">
  <h1>Hot Topic</h1>
  <div class="row-fluid">
    <div class="span4">
      <div class="well">
        <p>Enter your paragraph text here.</p>
        <a class="btn btn-primary btn-block">Write Essay</a> 
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <p>Enter your paragraph text here.</p>
        <a class="btn btn-primary btn-block">Write Essay</a> 
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <p>Enter your paragraph text here.</p>
        <a class="btn btn-primary btn-block">Write Essay</a> 
      </div>
    </div>
  </div>
  <form action="/study/topic_process" method="post">
    <textarea class="input-block-level" rows="3" name="content"></textarea>
    <button type="submit" class="btn btn-block btn-warning">New Topic</button> 
  </form>
  <h1>New Essay</h1>
  <div class="row-fluid">
    <div class="span4">
      <div class="well">
        <p>Enter your paragraph text here.</p>
        <p class="muted">- charles</p>
        <a class="btn btn-success btn-block">Read more</a> 
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <p>Enter your paragraph text here.</p>
        <p class="muted">- charles</p>
        <a class="btn btn-success btn-block">Read more</a> 
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <p>Enter your paragraph text here.</p>
        <p class="muted">- charles</p>
        <a class="btn btn-success btn-block">Read more</a> 
      </div>
    </div>
  </div>
</div>
