<div class="container-fluid">
	<div class="row-fluid">
		<%= form_tag(:controller => "study", :action => "change_username") %>
			<input type="hidden" name="id" value="<%=session[:user_id]%>">
			<input type="text" name="name" value="<%=@name.name%>"><br>
			<button type="submit" value="Change!">Change!</button>
		</form>

	</div>
</div>
