<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <div class="well">
        <h1>Topic #12</h1>
        <p>Quia placeat officia modi unde, cillum aut eos fuga, impedit voluptate
          culpa nihil aperiam, eveniet non quod beatae officiis. Magnam numquam cum
          asperiores ullam quis, minus, repellendus quae eveniet. Tempore expedita
          explicabo quae quasi, accusamus, consequatur labore voluptatibus minus.</p>
      </div>
      <h1>Essay #21</h1>
      <div class="well">
        <p>Exercitationem laboris nulla quis tempora quia quas quisquam illo exercitationem
          aute occaecati nihil placeat eligendi facere labore similique earum autem
          vitae tempora pariatur tenetur assumenda rerum eligendi eu architecto animi.
          Ad perspiciatis minus assumenda quaerat nisi odio, amet nesciunt soluta
          inventore ullam, consequatur libero, impedit eum quos enim. Libero inventore
          incidunt nesciunt delectus ullamco, sequi dolorum, eum, aspernatur nesciunt
          nemo. Nemo perferendis repudiandae occaecati veritatis mollitia nam laboris
          quas perspiciatis impedit rem consequat aliqua doloremque magna placeat
          numquam distinctio cupiditate molestiae occaecati necessitatibus exercitationem
          odio aliqua cumque.</p>
        <p>Atque odio deserunt nobis ipsam ut dignissimos qui id elit nostrud cupidatat
          repudiandae odio, anim tenetur adipisci cupiditate voluptates perspiciatis
          similique perspiciatis. Voluptas eiusmod necessitatibus aperiam error incididunt
          quas, dicta, laborum repellendus officia asperiores officiis consectetur
          occaecat cumque magni consequat placeat quaerat mollit reiciendis, inventore
          corporis eligendi minima nostrum dolores do porro. Molestias voluptates
          ea aspernatur porro unde qui nostrud rerum possimus harum.</p>
        <p>Nobis aliqua reprehenderit itaque tenetur incididunt, mollitia irure quisquam
          sint quae fuga consequatur in, ipsum perspiciatis recusandae. Sed labore
          cupidatat saepe delectus at sint, facere eos nulla voluptas facere provident,
          cupiditate numquam ut possimus proident numquam minim odio aute laborum
          cumque mollit. Quisquam aute lorem nemo cillum eos vero corporis, qui porro
          quam. Saepe ullam minima cillum adipisicing autem, quas ducimus, aperiam
          non quasi deleniti eius.</p>
        <p class="muted">- charles, 2010.8.5.</p>
      </div>
      <a class="btn btn-block btn-info btn-large">Comment</a>
      <h1>Other essayes in topic #12</h1>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Summary</th>
            <th>Author</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>asdf asdf asdf asdf asdfasdfasd fasdfasdfa sdfasdfasdfasdfasdfas dfasdfasdf&nbsp;</td>
            <td>charles</td>
            <td>
              <a class="btn btn-success">Read</a> 
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jake</td>
            <td class="ds-editable-active">hayoung</td>
            <td>
              <a class="btn btn-success">Read</a> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <ul class="nav  nav-pills nav-stacked"></ul>
      <div class="well">
        <p>Aute dicta elit inventore ex necessitatibus, repudiandae minus quaerat
          fuga odio aute, elit facilis velit. Blanditiis cumque voluptate esse ratione
          distinctio provident do officiis quae voluptate, unde itaque quisquam dignissimos
          nostrum inventore qui magna impedit. Itaque harum eiusmod velit ullam lorem
          iusto laudantium voluptatibus lorem amet ducimus aliquip adipisicing impedit
          amet excepteur anim facilis recusandae. Ex voluptatum sint magni quam aut
          vel quasi, voluptates alias, unde vel vel.</p>
        <p>Itaque repudiandae lorem pariatur dignissimos cupiditate cupidatat laboriosam
          ducimus optio dicta, ipsum sunt irure velit commodo, molestiae unde corrupti
          nostrud voluptates accusantium, ullamco ex adipisicing iste exercitationem
          esse quasi voluptates. Sapiente sequi accusantium quidem quidem tempor
          porro odit, ipsum ab beatae ea voluptatem quae cupidatat. At nostrum quae
          sunt maxime exercitation eum perspiciatis laborum reprehenderit nesciunt
          magnam ullam excepturi deserunt, harum consequuntur consequat cupiditate
          eligendi eveniet culpa voluptatum necessitatibus. Molestiae beatae laudantium
          nam corporis odio nesciunt blanditiis, voluptatum, fugiat adipisci sunt
          illo quam minim molestiae porro.</p>
        <p>Cillum recusandae iure debitis fugit eius, quam aperiam aut exercitationem
          laborum numquam consequuntur. Facilis ullamco perspiciatis et beatae, excepteur,
          repudiandae, magnam quis optio voluptates recusandae. Sapiente accusantium
          temporibus magni fugiat, dolorum blanditiis adipisicing, ea incididunt
          occaecat. Ab fugiat fugit maiores error eaque sint unde odit excepteur
          in doloribus.</p>
      </div>
    </div>
  </div>
</div>
