<title>write</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
<link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
<link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
<link rel="stylesheet" href="https://app.divshot.com/css/divshot-canvas.css">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <div class="well">
        <h1>Topic</h1>
        <p>Quia placeat officia modi unde, cillum aut eos fuga, impedit voluptate
          culpa nihil aperiam, eveniet non quod beatae officiis. Magnam numquam cum
          asperiores ullam quis, minus, repellendus quae eveniet. Tempore expedita
          explicabo quae quasi, accusamus, consequatur labore voluptatibus minus.</p>
      </div>
      <h1>Write essay here</h1>
      <textarea class="input-block-level" rows="20"></textarea>
      <a class="btn btn-block btn-danger btn-large">Save</a> 
    </div>
    <div class="span4">
      <ul class="nav  nav-pills nav-stacked"></ul>
      <div class="well">
        <p>Aute dicta elit inventore ex necessitatibus, repudiandae minus quaerat
          fuga odio aute, elit facilis velit. Blanditiis cumque voluptate esse ratione
          distinctio provident do officiis quae voluptate, unde itaque quisquam dignissimos
          nostrum inventore qui magna impedit. Itaque harum eiusmod velit ullam lorem
          iusto laudantium voluptatibus lorem amet ducimus aliquip adipisicing impedit
          amet excepteur anim facilis recusandae. Ex voluptatum sint magni quam aut
          vel quasi, voluptates alias, unde vel vel.</p>
        <p>Itaque repudiandae lorem pariatur dignissimos cupiditate cupidatat laboriosam
          ducimus optio dicta, ipsum sunt irure velit commodo, molestiae unde corrupti
          nostrud voluptates accusantium, ullamco ex adipisicing iste exercitationem
          esse quasi voluptates. Sapiente sequi accusantium quidem quidem tempor
          porro odit, ipsum ab beatae ea voluptatem quae cupidatat. At nostrum quae
          sunt maxime exercitation eum perspiciatis laborum reprehenderit nesciunt
          magnam ullam excepturi deserunt, harum consequuntur consequat cupiditate
          eligendi eveniet culpa voluptatum necessitatibus. Molestiae beatae laudantium
          nam corporis odio nesciunt blanditiis, voluptatum, fugiat adipisci sunt
          illo quam minim molestiae porro.</p>
        <p>Cillum recusandae iure debitis fugit eius, quam aperiam aut exercitationem
          laborum numquam consequuntur. Facilis ullamco perspiciatis et beatae, excepteur,
          repudiandae, magnam quis optio voluptates recusandae. Sapiente accusantium
          temporibus magni fugiat, dolorum blanditiis adipisicing, ea incididunt
          occaecat. Ab fugiat fugit maiores error eaque sint unde odit excepteur
          in doloribus.</p>
      </div>
    </div>
  </div>
</div>
